<section id="coffees">
        <div class="container" >

            <div class="row" ng-hide="{{show}}">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="/img/loading/loading.gif" />
                </div>
            </div>

           <div class="row" ng-show="{{show}}">
                <div class="col-sm-6 col-md-4" ng-repeat="coffee in coffees">
                    <div class="thumbnail">
                        <img src="{{coffee.img}}" alt="..." style=" width: 300px; height: 250px">
                        <div class="caption">
                            <h3>{{coffee.name}}</h3>
                            <p>{{coffee.discribe}}</p>
                            <p><a ng-click="detail(coffee._id)" class="btn btn-primary" data-toggle="modal" data-target="#coffeeDetail" role="button">Detail</a> 
                            <a href="" class="btn btn-default" role="button">Button</a>
                            <span class="right">{{coffee.price}}<i> VND</i></span></p>
                                <!-- Modal -->
                                    <div class="modal fade" id="coffeeDetail" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"><b>{{oneCoffee.name}}</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="{{oneCoffee.img}}" style=" width: 250px; height: 200px"/>
                                                    </div>

                                                    <div class="col-md-6 col-md-offset-2 text-center" ng-hide="{{popup}}">
                                                        <img src="/img/loading/loading.gif" style=" width: 200px; height: 200px" />
                                                    </div>

                                                    <div class="col-md-6 col-md-offset-2" ng-show="{{popup}}">
                                                        <p class="h4"><b>Price: </b><i>{{oneCoffee.price}} VND</i></p>
                                                        <p class="h4"><b>Discribe: </b><i>{{oneCoffee.discribe}}</i></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" ng-click="clear()" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                <!--Modal-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>