<section id="contact" ng-controller="contactCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">Send Us Your Feedback</div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Name:</span>
                                <input type="text" class="form-control" placeholder="name..." ng-model="contact.name" aria-describedby="sizing-addon2">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Email:</span>
                                <input type="text" class="form-control" placeholder="email..." ng-model="contact.email" aria-describedby="sizing-addon2">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Content: </span>
                                <textarea type="text" class="form-control" placeholder="message..." ng-model="contact.message" aria-describedby="sizing-addon2"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button class="btn" ng-click="sendMail()">Send</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>09-33-99-0004</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>